<!DOCTYPE html>
<html lang="fr" class="h-100">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width-device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewData["MetaDescription"]" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    </environment>

</head>
<body class="h-100">
    <div class="modal modal-signin position-static d-block bg-secondary py-5 h-100" tabindex="-1" role="dialog" id="modalSignin">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content  rounded-0 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h1 class="fw-bold mb-0 fs-2">@ViewData["H1"]</h1>
                </div>
                <div class="modal-body p-5 pt-0">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</body>
<environment include="Development">
    <script src="~/lib/bootstrap/js/bootstrap.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/lib/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
</environment>
</html>