@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@model ForgotPasswordViewModel
@{
    ViewData["Title"] = Localizer["Title"];
    ViewData["H1"] = Localizer["H1"];
    string? returnUrl = Context.Request.Query["returnUrl"];
}


<form asp-action="ForgotPasswordPost" asp-controller="Account" asp-route-returnUrl="@returnUrl">

    <div class="form-floating mb-3">
        <input asp-for="UserName" type="email" class="form-control rounded-0">
        <label for="@nameof(Model.UserName)">@SharedLocalizer["Input_Email"]</label>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <button class="w-100 mb-2 btn btn-lg rounded-0 btn-primary" type="submit">@Localizer["Submit"]</button>
</form>