@using System.Net
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
    ViewData["H1"] = Localizer["H1"];
    string? returnUrl = Context.Request.Query["returnUrl"];

}
<p>
    @Localizer["Message"]
</p>
@* <a href="@returnUrl" class="w-100 mb-2 btn btn-lg rounded-0 btn-primary">
    @Localizer["Button_Login"]
</a>
 *@
<form asp-action="PasswordResetedPost" method="post">
    <button type="submit" class="btn btn-primary">Continue to Login</button>
</form>